@mixin antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin subpixel-antialiased {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

@mixin hide-text {
  text-indent: 300%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin clearfix {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin no-tap-highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin hardware-accelerate {
  transform: translate3d(0, 0, 0);
}

@mixin placeholder-color($color) {
  &::placeholder {
    color: $color;
    opacity: 1;
  }

  &:focus {
    &::placeholder {
      color: rgba($main-bg, 0);
    }
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin heading-mono {
  font-family: 'Atlas Typewriter', monospace;
  text-transform: uppercase;
  font-size: .75rem;
  line-height: 1.333em;
  letter-spacing: .1em;
}

@mixin heading-l {
  font-family: 'Atlas Grotesk', sans-serif;
  font-size: 2.5rem;
  line-height: 1.125em;
  letter-spacing: -.04em;
}

@mixin list-mono {
  @include heading-mono;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    border-bottom: 1px solid $main-color;
    margin-bottom: calc(1em - 1px);
  }

  ul,
  ol {
    margin-bottom: 2em;
  }

  li a,
  li span {
    display: block;
    padding-bottom: .5em;
  }
}
